---
title: "Home"
layout: default
banner: "https://images.pexels.com/photos/3228726/pexels-photo-3228726.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
---

<div class="banner-page justify-content-center d-flex align-items-center {% if page.banner %} px-3" style="background-image: url('{{page.banner}}')">{%else%}{% endif %}
  <section class="banner-container col-12 mx-auto col-md-8">
    {% include section/pesquisar.html %}
  </section>
</div>
{% include section/vagas.html %}
{% include section/blog.html %}
{% include section/novos-talentos.html %}