.titulo {
  font-size: 1.25rem;
  font-weight: bold;
}

.categorias {
  a {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-group-item {
    position: relative;
    &:hover,
    &:focus {
      background: #f1f1f1;
      color: #333;
    }
  }
}

.empresas-destaque {
  header {
  }
  .card-content {
    a {
    }
    img {
      max-width: 100%;
    }
  }
}
