.banner {
  &-page {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: -2;
    &:after {
      content: "";
      background: #000;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100vh;
      z-index: -1;
      opacity: 0.3;
    }
  }
  &-container {
    .row {
      .pesquisa-campos {
        background-color: #fff;
      }
      & > * {
        margin: 0;
        padding: 0;
      }
    }
    h1 {
      text-align: center;
      color: #fff;
    }
    label {
      padding-left: 2rem;
    }
    .form-control:focus,
    .form-control:not(:placeholder-shown) {
      border-radius: 0.25rem 0 0 0.25rem;
    }
    .form-control,
    .form-select {
      padding-left: 2rem;
    }
    input,
    select {
      border-radius: 0;
      background: transparent;
      border-width: 0;
    }
    //.btn-search {
    //  background: #fff;
    //  height: 100%;
    //  width: 100%;
    //  border-radius: 0 0.25rem 0.25rem 0;
    //  &:hover,
    //  &:focus {
    //    box-shadow: none;
    //  }
    //}
  }
}
