.btn {
  color: var(--main-color);
  border-color: var(--main-color);
  &:focus,
  &:hover {
    color: #fff;
    background-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem rgba(107, 44, 145, 0.5);
    border-color: var(--main-color);
  }
  &-search {
    border-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    background-color: var(--main-color);
    &:focus,
    &:hover {
      color: var(--main-color);
      background-color: #fff;
    }
  }
}
.nav-link-resume {
  background-color: var(--alternative-color);
  color: var(--main-color);

  &:hover,
  &:hover,
  &:focus {
    background-color: var(--main-color);
    color: var(--alternative-color);
    box-shadow: inset 0 0 0 3px var(--alternative-color);
  }

  &-alternative {
    background-color: var(--main-color);
    color: var(--alternative-color);

    &:hover,
    &:focus {
      background-color: #fff;
      color: var(--main-color);
      box-shadow: inset 0 0 0 3px var(--main-color);
    }
  }
}
