#search {
  label {
    font-size: small;
    opacity: 0.5;
  }
}
.form-select,
.form-control {
  &:focus {
    border-color: var(--main-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(107, 44, 145, 0.25);
    background-color: none;
    border-radius: 0 0 0 0.25rem;
  }
}
