:root {
  --bs-font-sans-serif: "Work Sans", sans-serif;
  --main-color: #6b2c91;
  --alternative-color: #ffe666;
  --neutral: #ececed;
  --dark-text: #333;
}

html,
body,
main {
  height: 100vh;
  height: 100vw;
}
main {
  z-index: 1;
  position: relative;
}
a {
  color: var(--dark-text);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--main-color);
  }
  &:focus {
    color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0 0 0px 1px var(--main-color),
      0 0 0px 5px rgba(107, 44, 145, 0.25);
    border-radius: 0.25rem;
    outline: none;
    position: relative;
    z-index: 3;
  }
}