.navbar {
  background-color: var(--main-color);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  .navbar-brand,
  a {
    outline-color: var(--alternative-color);
    font-weight: 500;
    color: var(--alternative-color);
    //padding: 1rem !important;
    &:hover,
    &:focus {
      color: var(--main-color);
      background-color: var(--alternative-color);
      border-radius: 0.25rem;
      outline-color: var(--alternative-color);
    }
    &.nav-link-resume {
      background-color: var(--alternative-color);
      color: var(--main-color);
      &:hover,
      &:focus {
        background-color: var(--main-color);
        color: var(--alternative-color);
        box-shadow: inset 0 0 0 3px var(--alternative-color);
      }
    }
  }

  .navbar-brand {
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.logo-site {
  max-width: 100%;
  height: 50px;
}

.navbar-toggler {
  color: #fff;
}
