.novas-vagas {
  background: #f7f7fb;

}
.titulo-secao {
  font-size: 2rem;
}
.job {
  &-footer {
    font-size: 0.75em;
    line-height: 1;
  }
  &-sector {
    background-color: #f8f9fa;
    padding: 0.35em 0.65em;
  }
  &-item {
    background: #fff;
    &-empresa {
      font-weight: bold;
      font-size: small;
    }
    &-position {
      font-size: xx-large;
      font-weight: bold;
      color: var(--dark-tex);
      text-decoration: none;
    }
  }
  &-empresa-logo {
    img {
      object-fit: contain;
      object-position: center;
      width: 65px;
      height: auto;
    }
  }
}
