<div class="container fixed-top py-3">
    <!---->
    <div class="menu-acessibilidade p-3 text-center visually-hidden-focusable">
        <p tabindex="1" class="p-2 text-muted d-inline-block bg-white rounded">Audiodescrição: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, suscipit?</p>
        <div class="w-100"></div>
        <a tabindex="2" data-toggle="tooltip" title="Ir para o menu" class="btn-link btn d-inline-block mx-3 text-decoration-none" href="#menuMobile">Ir para o menu</a>
        <a tabindex="3" data-toggle="tooltip" title="Buscar por oportunidade" class="btn-link btn d-inline-block mx-3 text-decoration-none" href="#search">Buscar por oportunidade</a>
    </div>
    <nav id="menu" class=" navbar navbar-expand-lg rounded">

        <div class="container-fluid">
            <a class="me-0 navbar-brand text-truncate" href="{{site.url}}/index.html">
                <img title="{{site.title}}" src="{{site.url}}/img/logo/logo-reduzida.svg" class="mx-auto d-block logo-site d-sm-none d-block" alt="Logo {{site.title}}">
                <img title="{{site.title}}" src="{{site.url}}/img/logo/logo-completa.svg" class="logo-site d-none d-sm-block" alt="Logo {{site.title}}">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuMobile" aria-controls="menuMobile" aria-expanded="false" aria-label="Toggle navigation">
                Menu
            </button>

            <div class="collapse navbar-collapse" id="menuMobile">
                <div class="navbar-nav  ms-auto mb-2 mb-lg-0">
                    <a accesskey="H" class="nav-link mx-md-2 active" aria-current="page" href="#">Home</a>
                    <a accesskey="A" class="nav-link mx-md-2" href="about">About</a>
                    <a accesskey="B" class="nav-link mx-md-2" href="blog">Blog</a>
                    <a accesskey="C" class="nav-link mx-md-2" href="contact">Contact</a>
                    <a accesskey="L" class="nav-link mx-md-2" href="login">Login</a>
                    <a accesskey="S" class="nav-link mx-md-2 btn px-3 nav-link-resume"data-toggle="tooltip" title="Submit Resumé" href="submit"><i class="fas me-3  fa-user-tie"></i> Submit Resumé</a>

                </div>
            </div>
        </div>
    </nav>
</div>