<div class="card mb-4 categorias">
    <header class="titulo p-3 mb-2">Categorias</header>
    <div class="card-content">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="stretched-link" data-toggle="tooltip" title="Verificar oportunidades em Suporte" href="#"><span>Suporte</span><i class="fas fa-angle-right"></i></a></li>
            <li class="list-group-item"><a class="stretched-link" data-toggle="tooltip" title="Verificar oportunidades em Negócios" href="#"><span>Negócios</span><i class="fas fa-angle-right"></i></a></li>
            <li class="list-group-item"><a class="stretched-link" data-toggle="tooltip" title="Verificar oportunidades em Marketing" href="#"><span>Marketing</span><i class="fas fa-angle-right"></i></a></li>
            <li class="list-group-item"><a class="stretched-link" data-toggle="tooltip" title="Verificar oportunidades em Design" href="#"><span>Design</span><i class="fas fa-angle-right"></i></a></li>
            <li class="list-group-item"><a class="stretched-link" data-toggle="tooltip" title="Verificar oportunidades em Desenvolvimento" href="#"><span>Desenvolvimento</span><i class="fas fa-angle-right"></i></a></li>
        </ul>
    </div>
</div>
