<div class="card mb-4 empresas-destaque">
    <header class="titulo p-3 mb-2">Empresas de Destaques</header>
    <div class="card-content p-3">
        <div class="row"> <a class="col-4 p-2" href="#" title="Visualizar as oportunidades da Pepsi" data-toggle="tooltip"><img src="img/empresa/pepsi.png" alt=""></a>
            <a class="col-4 p-2" href="#" title="Visualizar as oportunidades da Volkswagen" data-toggle="tooltip"><img src="img/empresa/volkswagen.jpg" alt=""></a>
            <a class="col-4 p-2" href="#" title="Visualizar as oportunidades da Motorola" data-toggle="tooltip"><img src="img/empresa/motorola.jpg" alt=""></a>
        </div>
    </div>
</div>