<section class="blog-lista py-5 px-3">
    <header class="titulo-secao flex-column d-flex align-items-center">
        <div class="fw-bold">Últimos textos publicados</div>
        <small class=" text-muted mb-4 small">Pequena chamada para avisar ao usuário que esse seção é um blog</small>
    </header>
    <div class="container col-12 mx-auto col-md-8">


        <ul class="mt-5 list-unstyled row">
            {% for post in site.categories['blog'] limits: 5 %}
            <li class="col-12 mb-4 mb-md-0 col-md-4 position-relative">
                <div class="card">
                    <img src="{{post.banner}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text"> {{ post.content | markdownify | strip_html | truncatewords: 10 }}</p>
                        <a href="#" data-toggle="tooltip" title="Leia a publicação do blog: '{{ post.title }}'"class="stretched-link">→ Read More</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</section>