<section class="blog-lista candidatos-lista py-5 px-3">
    <div class="container col-12 mx-auto col-md-8">

        <header class="flex-column flex-md-row titulo-secao align-items-center d-flex justify-content-center">
            <strong>Confira nossos talentos</strong>
        </header>
        <p class="text-center text-muted mb-4 small">Pequena chamada para avisar ao usuário que esse seção é um blog</p>
        <ul class="mt-5 list-unstyled row">
            {% for post in site.categories['candidatos'] limits: 5 %}
            <li class="col-12 col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="d-none d-lg-block col-md-4 align-items-stretch d-flex">
                            <img src="{{post.banner}}" class="d-block w-100 h-100 img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title w-100 text-truncate">{{ post.title }}</h5>
                                <p class="card-text">{{ post.resumo }}</p>
                                <p class="card-text"><a href="#" data-toggle="tooltip" title="Confira o perfil do {{ post.title }}. {{ post.resumo }}" class="stretched-link"><small class="text-muted">→ Conheça {{ post.title }}</small></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="d-flex justify-content-center"><a href="#" data-toggle="tooltip" title="Visualizar outros candidatos" class="btn btn-block btn-outline-dark">Visualize outros profissionais</a></div>
    </div>
</section>