<div class="col-10 mx-auto " id="search">
    <h1 class="display-4 mb-4">
        Mude sua <strong>Vida</strong>.
        <br>Pesquise por <strong>Oportunidades</strong>
    </h1>

    <form action="#" class="row col-12 col-md-8 col-md-10 mx-auto">
        <div class="row pesquisa-campos rounded border">
            <div class="col-lg col-12 col-md-8">
                <label for="search-vagas" class="px-3 py-2 d-block w-100 form-label">Cargo</label>
                <input type="text" class="px-3 form-control" required id="search-vagas" data-toggle="tooltip" placeholder="Digite o cargo desejada" title="Digite o cargo desejado" placeholder="Digite o cargo">
            </div>
            <div class="col-lg col-12 col-md-6 border-start">
                <label class="px-3 py-2 d-block w-100 form-label" for="search-location">Origem</label>
                <select data-toggle="tooltip" class="px-3 form-select" title="Selecione a origem" id="search-location" data-toggle="tooltip">
                    <option selected>Escolha uma opção</option>
                    <option value="Negro">Negro</option>
                    <option value="Latino">Latino</option>
                    <option value="Pardo">Pardo</option>
                    <option value="Amarelo">Amarelo</option>
                    <option value="Indigena">Indígena</option>
                </select>
            </div>
            <div class="w-100"></div>
            <div class="border-top col-lg col-12 col-md-6">
                <label class="px-3 py-2 d-block w-100 form-label" for="search-gender">Gênero</label>
                <select data-toggle="tooltip" class="px-3 form-select" title="Selecione o gênero" id="search-gender" data-toggle="tooltip">
                    <option selected>Escolha uma opção</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Nao-binario">Não-binário</option>
                    <option value="Transexual">Transexual</option>
                    <option value="Travesti">Travesti</option>
                    <option value="Queer">Queer</option>
                </select>
            </div>
            <div class="border-top col-lg col-12 col-md-6 border-end border-start ">
                <label class="px-3 py-2 d-block w-100 form-label" for="search-sexuality">Sexualidade</label>
                <select data-toggle="tooltip" class="px-3 form-select" title="Selecione a sexualidade" id="search-sexuality" data-toggle="tooltip">
                    <option selected>Escolha uma opção</option>
                    <option value="Lesbica">Lésbica</option>
                    <option value="Gay">Gay</option>
                    <option value="Pansexual">Pansexual</option>
                    <option value="Intersexual">Intersexual</option>
                    <option value="Assexual">Assexual</option>
                    <option value="Bissexual">Bissexual</option>
                </select>
            </div>
            <div class="border-top col-lg col-12 col-md-6">
                <label class="px-3 py-2 d-block w-100 form-label" for="search-pcd">Pessoa com deficiência</label>
                <select data-toggle="tooltip" class="px-3 form-select" title="Descreve a deficiência" id="search-pcd" data-toggle="tooltip">
                    <option selected>Escolha uma opção</option>
                    <option value="Lesbica">Física</option>
                    <option value="Gay">Cego/Baixa Visão</option>
                    <option value="Pansexual">Surdo</option>
                    <option value="Intersexual">Intelectual</option>
                    <option value="Assexual">Mental</option>
                </select>
            </div>

        </div>
        <div class="w-100 p-3"></div>
        <div class="pesquisa-botao">
            <button data-toggle="tooltip" title="Iniciar busca por oportunidades" class="btn d-block btn-lg mx-auto btn-search"><i class="fas fa-search"></i> Iniciar pesquisa</button>
        </div>
    </form>
</div>