<section class="novas-vagas py-5 px-3">
    <div class="container col-12 mx-auto col-md-8">

        <header class="flex-column flex-md-row titulo-secao align-items-center d-flex justify-content-between justify-content-md-between">
            <div>
                <strong>Oportunidades</strong> recentes
            </div>
            <div>
                <a href="#" class="btn btn-outline-primary">Publicar uma oportunidade</a>
            </div>
        </header>
        <hr class="my-4 dropdown-divider">
        <div class="jobs-list row">
            <div class="order-2 order-lg-1 col-12 col-lg-8 jobs-content">
                {% for post in site.categories['job'] %}
                <div class="position-relative job-item mb-4 p-4 border rounded shadow-sm d-flex">
                    <div class="row">
                        <div class="d-none d-lg-block px-0 col-lg-2 justify-content-center d-flex align-items-center empresas-destaque-logo">
                            <img class="rounded img-fluid" src="{{post.logo}}" alt="...">
                        </div>
                        <!--<div class="flex-grow-1 d-flex flex-column  justify-content-between ms-3">-->
                        <div class="col-12 col-lg-10">
                            <div class="job-item-empresa">{{post.empresa}}</div>
                            <a class="w-100 d-block stretched-link job-item-position" href="{{ site.baseurl }}{{ post.url }}">
                                <span>
                                    {{ post.title }}
                                </span>

                            </a>
                            <footer class="pt-3 job-footer d-flex  justify-content-between text-muted small">
                                <span>
                                    <span class="job-sector">{{post.setor | capitalize}}</span>
                                    <span class="ps-md-2 ps-0 job-application"><i class="far fa-clock me-1"></i>{{post.contratacao | capitalize}}</span>
                                </span>
                                <span class="job-date-publication"><i class="far fa-calendar-alt me-1"></i>{{ post.date | date: "%d/%m/%Y" }}</span>
                            </footer>
                        </div>
                    </div>


                    <!--{{ post.excerpt }}-->

                </div>
                {% endfor %}

                <div class="pesquisa-botao">
                    <button data-toggle="tooltip" title="Visualizar mais oportunidades" class="btn d-block btn-lg mx-auto btn-search">Visualizar mais oportunidades</button>
                </div>
            </div>
            <aside class="order-1 order-lg-2 col-12 col-lg-4 jobs-aside">


                {% include aside/categorias.html %}
                {% include aside/empresas-destaques.html %}
            </aside>
        </div>

    </div>
</section>