<!doctype html>
<html lang="en">
{% include structure/head.html %}

<body>
  <main>
    {% include structure/nav.html %}

    {{content}}
  </main>



    {% include structure/footer.html %}
</body>

</html>